#header {
    background-color: rgb(79, 74, 72, 0.3);
    display: block;
    margin: 0;
    padding: 0;
}


#main-heading {
    color:#eb6734;
    text-transform: uppercase;
    position: relative;
    float: left;
    padding-left: 20px;
    margin: 0;
    
}

#menu {
    float: right;
    padding-right: 30px;
    letter-spacing: 4px;
    position: relative;
    list-style-type: none;
    display: inline;
    color:rgb(79, 74, 72,)
    
}


ul li {
    display: inline;
    padding-right: 20px;
    font-size: 120%;
    color:#eb6734;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: #eb6734;
}

/* Hero Image style*/
#hero-img {
    width: 100%;
    height: 550px;
    
}

#hero{
    position: relative;
    background:url(../css/images/arena-fight.jpeg);
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-text {
    text-align: center;
    background-color: rgb(79, 74, 72, 0.8);
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;    
    float:right;
    position: relative;
    top: 200px;
    color:gold;
    width: 33%;
    height: 25%;
    font-size:130%;

}
