#header {
    background-color: rgb(79, 74, 72, 0.3);
    display: block;
    margin: 0;
    padding: 0;
}


#main-heading {
    color:#eb6734;
    text-transform: uppercase;
    position: relative;
    float: left;
    padding-left: 20px;
    margin: 0;
    
}

#menu {
    float: right;
    padding-right: 30px;
    letter-spacing: 4px;
    position: relative;
    list-style-type: none;
    display: inline;
    color:rgb(79, 74, 72,)
    
}


ul li {
    display: inline;
    padding-right: 20px;
    font-size: 120%;
    color:#eb6734;
    text-decoration: none;
}

.links {
    text-decoration: none;
    color: #eb6734;
}

/* Hero Image style*/
#hero-img {
    width: 100%;
    height: 550px;
    
}

#hero{
    position: relative;
    background:url(../css/images/arena-fight.jpeg);
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#hero-button{
    height: 80%;
    width: 60%;
    border: none;
    text-decoration: none;
    background: rgb(79, 74, 72, 0.9);
    color: yellow;
    font-size: 20px;
    text-transform: uppercase;
    padding: 6px 12px 12px 12px;
    overflow: hidden;
    border: solid black 1px;
    text-align: center;
    
}

.hero-text {
    text-align: center;
    background-color: rgb(79, 74, 72, 0.7);
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;    
    float:right;
    position: relative;
    top: 200px;
    color:gold;
    width: 33%;
    height: 25%;
    font-size:130%;

}

/* Arena Club section*/
#arena{
    background-color: rgb(79, 74, 72, 0.5);
    width: 100%;
    height: 250px;
    text-align: center;
    text-shadow: 0 2px rgb(79, 74, 72, 0.1);
    overflow: scroll;
}

#arena-club{
    font-size: 240%;
    letter-spacing: 2px;
    text-transform: uppercase;
    color:#eb6734
}
#arena-text{
    color: gold;
    font-size: 20px;

}

/*Footer*/
#footer{
text-align: center;
font-size: 35px;
margin: 10px;
color: #eb6734;
text-decoration: none;
list-style-type: none;
line-height: 20px;
letter-spacing: 30px;
}
.color-icon{
    color: #eb6734;
}

/*About arena*/
#about-arena{
    background-image: url(/assets/css/images/arena-league.jpeg);
    width: 100%;
    height: 600px;
    overflow: hidden;
    text-align: center;  
}
#about-arena p {
    font-size: 100%;
    text-transform: capitalize;
    padding-bottom: 40px;
}

#about-text {
    text-align: center;
    background-color: rgb(79, 74, 72, 0.7);
    text-transform: uppercase;
    padding: 10px;
    margin: 20px;
    position: relative;
    color: gold;
    height: 60%;
    font-size: 130%;
    

}
#fight-button {
    height: 100%;
    width: 80%;
    border: none;
    text-decoration: none;
    background: rgb(79, 74, 72, 0.9);
    color: yellow;
    font-size: 25px;
    text-transform: uppercase;
    border: solid black 2px;
    text-align: center;
    padding: 12px 12px 12px 12px;
    
}

/* Sign up Form and background*/

/* Background*/

#sign-background{
   background-image: url(../css/images/spirit-blossom-ahri-skin.jpeg);
   width: 100%;
   height: 700px;
   overflow: hidden;
   background-repeat: no-repeat;
   text-align: center;
   background-size: cover;
}

#sign-text {
    background-color:rgb(79, 74, 72, 0.8);
    width: 40%;
    height: 70%;
    position: absolute;
    margin: 100px 0 0 0;
    left: 80px;
    color: gold;
    
}
.sign-text {
width: 95%;
border: solid 1px black;
margin: 2px 0 15px 0;
color: transparent;

}

/* Form button*/

.button{
    border: 2px solid gold;
    margin: 20px 0 30px 0;
    font-size: 22px;
    border-radius: 10%;
    background: rgb(79, 74, 72,);
    color: #eb6734;
}

